@import "../../../common/assets/css/mixin";
@import "../../../common/assets/css/reset";
@import "./public";

/* 改变主题色变量 */
$--color-primary: $subjectColor;
/*$--size-base:16px;
$--font-size-base:$--size-base;*/
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "../../../../node_modules/element-ui/packages/theme-chalk/src/index";

